Presentation/iKASAWebApi.UI.MVC/Service References/SecurityReadWcf/SecurityReadWCFService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KMUH.SecurityRead.Services.ErrorHandlers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KMUH.SecurityRead.Services.ErrorHandlers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApplicationServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerExceptionDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationServiceError" nillable="true" type="tns:ApplicationServiceError" />
</xs:schema>