Presentation/iKASAWebApi.UI.MVC/Service References/SecurityReadWcf/SecurityReadWCFService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppFramework.ApplicationLayer.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppFramework.ApplicationLayer.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDTOEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowState" type="tns:RowState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDTOEntity" nillable="true" type="tns:BaseDTOEntity" />
  <xs:simpleType name="RowState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RowState" nillable="true" type="tns:RowState" />
  <xs:complexType name="BoolMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoolMessage" nillable="true" type="tns:BoolMessage" />
</xs:schema>